/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.left-from {
	-fx-background-color: linear-gradient(to bottom right, #4386b5, #125486);
}

.proje-button{
	-fx-background-color: #fff;
	-fx-border-radius: 0.0% ;
	-fx-cursor: hand;
}

.proje-text{
	-fx-background-color: #fff;
	-fx-cursor: hand;
	-fx-border-radius: 20px;
}

.table{
	-fx-background-color: #4386b5;
	-fx-border-style: none ;
	-fx-text-alignment: center ;
	-fx-text-fill: #fff;
}

.giris{
	-fx-background-color: linear-gradient(to bottom right, #4386b5, #125486);
}



.giris-button{
	-fx-background-color: #fff;
	-fx-cursor: hand;
}

.ekle-components{
	-fx-background-color: #fff;
}

.text{
	-fx-text-fill: #fff;
}

.grafik{
	-fx-background-color: #fff;
	-fx-text-fill: #125486;
}





